<p id="notice"><%= notice %></p>

<p>
    <strong>Nom :</strong>
    <%= @itu.name %>
</p>

<br><br>
<% if current_user.role == 'Admin' %>
<%= link_to 'Editer', edit_itu_path(@itu), class: 'btn btn-info' %> |<% end %>
<%= link_to 'Retour', users_profiluser_path, class: 'btn btn-default' %>
