<%= simple_form_for(@experience) do |f| %>
<%= f.error_notification %>

	<div class="row">
		<div class="form-group col-lg-5">
			<%= f.input :name, label: 'Nom', class: 'form-control' %>
		</div>
	</div>
	
<br>
<div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
</div><br>
<% end %>
