<h1>Editer l'experience</h1>

<%= render 'form', experience: @experience %>

<%= link_to 'Afficher', @experience, class: 'btn btn-info' %> |
<%= link_to 'Retour', experiences_path, class: 'btn btn-default' %>
