<h1>Editer la formation</h1>
<%= render 'form', formation: @formation %>

<%= link_to 'Afficher', @formation, class: 'btn btn-info' %> |
<%= link_to 'Retour', formations_path, class: 'btn btn-default' %>
